[user]
    name = {{NAME}}
    email = {{EMAIL}}
[color]
    diff = auto
    status = auto
    branch = auto
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[push]
    default = matching
[difftool]
    prompt = false
